Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 1
UseTab: Never
TabWidth: 2
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: true
  AfterClass: true
  AfterEnum: true
  AfterStruct: true
  AfterFunction: true
  AfterNamespace: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeElse: true
  IndentBraces: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true

BinPackArguments: true
BinPackParameters: true
ColumnLimit: 0
ContinuationIndentWidth: 1
IndentCaseLabels: true
SortIncludes: false
SpaceAfterCStyleCast: false
SpaceInEmptyParentheses: false
PointerAlignment: Right
Cpp11BracedListStyle: false
